:root {
  --background: #19191a;
  --primary: #cba054;
  --secondary: #ebd4ac;
  --tertiary: #1e1e1f ;
  --quaternary: #595960;

  font-family: 'proxima-nova';
  font-size: 14px;
}

@font-face {
  font-family: 'Cinzel';
  src: url('/public/CinzelModified.otf') format('otf');
  font-weight: 400;
  font-style: normal;
}

body {
  color: var(--primary);
  background: var(--background);
  max-width: 1152px;
  margin: 32px auto;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

p{
  font-size: 16px;
  color: var(--secondary);
}

ul{
  display: grid;
  grid-template-columns: repeat(5, 1fr);

  & :first-child{
    border-left: var(--primary) 0px solid;
  }

}

li{
  display: flex;
  border-left: var(--primary) 1px solid;

  & * {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  &:hover{
    color: var(--secondary);
  }
}

iframe{
  border: 0;
  width: 100%;
  height: 100%;
}

header{
  margin-bottom: 32px;
}


// nav

.flex{ display: flex }

.socials{
  display: grid;
  gap: 14px;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}

.nav-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}


// video

.video{
  width: 100%;
  aspect-ratio: 16/9;
}

.video-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}


// about

.about-container{
  width: 688px;
  margin: auto;
}

.dropcap{
  float: left;
  margin: 0 16px 8px 0;
}